body {
  font-size: 0.9rem;
  /* font-family: 'Martel Sans', sans-serif; */
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 200;
  font-stretch: semi-expanded;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 200;
 text-align: center;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav img {
  width: 100%;
  max-width: 400px;
  /* height: auto; */
}

.menu {
display: flex;
min-width: 40%;
max-width: 300px;
padding-bottom: 10px;
justify-content: space-around;
align-content: center;
margin: auto;
text-transform: uppercase;
}

.menu-item {
display: inline-block;
}

.white {
  color: #fff;
}

.grey {
  /* color: #fff; */
  color: rgba(255,255,255,0.2);

}

.hero {
  background-image: url("img/crew_coffee_cup_view.jpg");
  background-position: 100% 65%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
}

.round-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.no-border {
    border: 0px;
}

.brand-blue-bg {
  background-color: rgb(0,48,91); 
}


.white-line {
  background-color: #fff;
  height: 6px;
  padding: 0;
  margin: 0;
}

.white-line-thick {
  background-color: #fff;
  height: 12px;
  padding: 0;
  margin: 0;
}

.footer {
    height: 100px;
}



.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
   padding: 0;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

/* .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
} */

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
